*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top{
  display: flex;
  flex-flow: row;
}
.sidebar{
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 1.5rem;
}

.resume{
  width: 70vw;
  margin: 30px;
  margin-left: 10px;
}

.image img{
  appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

